# Copy this file to .env and adjust values for your environment.
# Vite only exposes variables prefixed with VITE_ to the client.

VITE_BACKEND_URL=https://jedligrambackend-gehermarcell.jcloud.jedlik.cloud/
VITE_AUTH_TOKEN_NAME=jedligram_token
VITE_LOCAL_STORAGE_PROFILE_KEY=jedligram_profile
VITE_PROFILE_STORAGE_KEY=jedligram_profile